


div.buttons1 {
	border-color:red;
	border-width:10px;
	border-style: solid;
	height: 50px;
	width:100px; 
	color:black	;
}

div.buttons2 {
	border-color:red;
	border-width:10px;
	border-style:solid;
	height: 50px;
	width:100px; 
	color:black;
}
div.buttons3 {
	border-color:red;
	border-width:10px;
	border-style: solid;
	height: 50px;
	width:100px; 
	color:black;
}

div.buttons4 {
	border-color:red;
	border-width:10px;
	border-style: solid;
	height: 50px;
	width:100px; 
	color: black;
}