#button_1 {background-color:blue;
	border-color:#3fe50c;
	height:300px;
	width:100px; 
	color:red;}

#button_2 
{height: 50px;
	width:100px; 
	color:red;}

#button_3 
{border-color:#3fe50c;
	border-width:10px;
	border-style:solid;
	height: 50px;
	width:100px; 
	color:red;}

#button_4 
{border-color:#3fe50c;
	border-width:10px;
	border-style:solid;
	height: 50px;
	width:100px; 
	color:red;}