<html>
	<head>
		<title> Social Issues </title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='community.css') }}">
	</head>

	<body>
		<div id='navigation_bar'>

			<h1> Social Issue Dojo </h1>
			<a href="{{ url_for('index') }}"><div class= 'sign_in'>Social Issue 1</div></a>
			<a href="{{ url_for('second_view') }}"><div class= 'sign_in'> Social Issue 2</div></a>
			<a href="{{ url_for('third_view') }}"><div class= 'sign_in'>Social Issue 3</div></a>
			<a href="{{ url_for('third_view') }}"><div class= 'sign_in'>Social Issue 4</div></a>

		</div>

		<h1> Click one of social issues above! </h1>

	</body>
</html>