<html>
        <head>
                <title>Violence against LGBT Community</title>
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        </head>

		<body>
<div id='navigation_bar'>

			<h1> Social Issues </h1>
			<a href="{{ url_for('index') }}"><div class= 'sign_in'>Violence Against LGBTQ Community</div></a>
			<a href="{{ url_for('second_view') }}"><div class= 'sign_in'> Mass Incarceration</div></a>
			<a href="{{ url_for('third_view') }}"><div class= 'sign_in'>Stand Your Ground</div></a>
			<a href="{{ url_for('third_view') }}"><div class= 'sign_in'>Illegal Terminations in the Workplace</div></a>

		</div>

	<h1> Violence Against LGBTQ Community </h1>
		The Matthew Shepard and James Byrd Hate Crimes Prevention Act
		<br>
		<br>
		Conceived as a response to the murders of Matthew Shepard and James Byrd, Jr., the measure expands the 1969 United States federal hate-crime law to include crimes motivated by a victim's actual or perceivedgender, sexual orientation, gender identity, or disability.
		Removes the prerequisite that the victim be engaging in a federally protected activity, like voting or going to school;
		Gives federal authorities greater ability to engage in hate crimes investigations that local authorities choose not to pursue;
		Provides $5 million per year in funding for fiscal years 2010 through 2012 to help state and local agencies pay for investigating and prosecuting hate crimes;
		Requires the Federal Bureau of Investigation (FBI) to track statistics on hate crimes based on gender and gender identity (statistics for the other groups were already tracked).

	<h2> Comment Below!</h2>

	<h3>Add a new user by filling out this form:</h3>
		<form action="" method="post" name="newuser">
			{{form.hidden_tag()}} 	<!--Enables CSRF protection-->
			First name: {{ form.firstname(size=30) }}
			<br>Last name: {{ form.lastname(size=30) }}
			<br>User name: {{ form.username(size=30) }}
			<br><input type="submit" value="I'm done! (Add this user)">
		</form>
	</body>

</html>
