<html>
        <head>
                <title>Stand Your Ground</title>
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        </head>

		<body>
		
<div id='navigation_bar'>

			<h1> Social Issue Dojo </h1>
			<a href="{{ url_for('index') }}"><div class= 'sign_in'>Violence Against LGBTQ Community</div></a>
			<a href="{{ url_for('second_view') }}"><div class= 'sign_in'>Mass Incarceration</div></a>
			<a href="{{ url_for('third_view') }}"><div class= 'sign_in'>Stand Your Ground</div></a>
			<a href="{{ url_for('third_view') }}"><div class= 'sign_in'>Illegal Terminations in the Workplace</div></a>

		</div>


	<h1>Add a new user by filling out this form:</h1>
		<form action="" method="post" name="newuser">
			{{form.hidden_tag()}} 	<!--Enables CSRF protection-->
			First name: {{ form.firstname(size=30) }}
			<br>Last name: {{ form.lastname(size=30) }}
			<br>User name: {{ form.username(size=30) }}
			<br><input type="submit" value="I'm done! (Add this user)">
		</form>
	</body>

</html>
