<html>
        <head>
                <title>Illegal Terminations in the Work Place</title>
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        </head>

		<body>
				<h1>ILLEGAL TERMINATION OF WORKERS</h1>
				<p>The National Labor Relations Act- The NLRA guarantees the right of employees to organize and bargain collectively with their employers, and to engage in 
				other protected concerted activity

				http://www.dol.gov/olms/regs/compliance/employeerightsposter11x17_final.pdf

				 
				Family and Medical Leave Act- 
				provides certain employees with up to 12 weeks of unpaid, job-protected leave per year. 
				for the birth and care of the newborn child of an employee;
				for placement with the employee of a child for adoption or foster care;
				to care for an immediate family member (spouse, child, or parent) with a serious health condition; or
				to take medical leave when the employee is unable to work because of a serious health condition.
				http://www.dol.gov/dol/topic/benefits-leave/fmla.htm</p>

<div id='navigation_bar'>

			<h1> Social Issue </h1>
			<a href="{{ url_for('index') }}"><div class= 'sign_in'>Violence Against LGBTQ Community</div></a>
			<a href="{{ url_for('second_view') }}"><div class= 'sign_in'>Mass Incarceration</div></a>
			<a href="{{ url_for('third_view') }}"><div class= 'sign_in'>Stand Your Groud</div></a>
			<a href="{{ url_for('third_view') }}"><div class= 'sign_in'>Illegal Terminations in the Workplace</div></a>

		</div>

	<h1>Add a new user by filling out this form:</h1>
		<form action="" method="post" name="newuser">
			{{form.hidden_tag()}} 	<!--Enables CSRF protection-->
			First name: {{ form.firstname(size=30) }}
			<br>Last name: {{ form.lastname(size=30) }}
			<br>User name: {{ form.username(size=30) }}
			<br><input type="submit" value="I'm done! (Add this user)">
		</form>
	</body>

</html>
